@import "@material/react-button/index.scss";
@import "@material/react-top-app-bar/index.scss";
@import "@material/react-material-icon/index.scss";

$primary-color: #6200ee;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border-primary {
  background-color: $primary-color !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.text-2rem {
  font-size: 2rem !important;
}

.text-primary {
  color: $primary-color !important;
}
